{% extends 'base.html' %}

{% block title %} Edit Post {% endblock %}

{% block content %}

<form action="/posts/{{post.id}}/edit" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      name="title"
      id="title_input"
      class="form-control"
      placeholder="Enter a post title"
      value="{{post.title}}"
      type="text"
      required>
  </div>
  <div class="form-group">
    <label for="content">Post Content</label>
    <input
      name="content"
      id="content_input"
      class="form-control"
      placeholder="Enter post content"
      value="{{post.content}}"
      type="text"
      required>
  </div>

  <div>
    {% for tag in tags %}
      {% if tag in post.tags %}
        <input id="tag-{{tag.id}}" name="tags" value="{{tag.id}}" type="checkbox" checked>
        <label for="tag-{{tag.id}}">{{tag.name}}</label>
      {% else %}
        <input id="tag-{{tag.id}}" name="tags" value="{{tag.id}}" type="checkbox">
        <label for="tag-{{tag.id}}">{{tag.name}}</label>
      {% endif %}
    {% endfor %}
  </div>

  <button class="btn btn-success">Edit</button>
</form>

<a href="/users/{{post.author_id}}" class="btn btn-outline-info">Cancel</a>

<!-- this is page to edit post {{post.id}} -->

{% endblock %}