{% extends 'base.html' %}

{% block title %} Edit a tag {% endblock %}

{% block content %}

<form id="edit-tag" action="/tags/{{tag.id}}/edit" method="POST">
  <div class="form-group">
    <label for="tag_name">Name</label>
    <input
      name="tag_name"
      id="tag_name_input"
      class="form-control"
      placeholder="Enter a name for the tag"
      value="{{tag.name}}"
      type="text"
      required>
  </div>

  <button class="btn btn-success">Edit</button>
</form>

<a href="/tags/{{tag.id}}" class="btn btn-info">Cancel</button>

{% endblock %}