{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

<!-- TODO: handle no image -->
<img src="{{user.image_url}}" alt="The user's profile image!">

<h1>
  {{user.first_name}} {{user.last_name}}
</h1>

<form action="/users/{{user.id}}/edit" method="GET">
  <button class="btn btn-primary">Edit</button>
</form>

<form action="/users/{{user.id}}/delete" method="POST">
  <button class="btn btn-danger">Delete</button>
</form>

<!-- this is the {{user.id}} user_detail page -->

{% endblock %}