{% extends 'base.html' %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}

<div>{{post.content}}</div>

<div><em>By {{post.author.first_name}} {{post.author.last_name}} </em></div>

<a href="/users/{{post.author_id}}" class="btn btn-outline-primary">See all posts</a>

<a href="/posts/{{post.id}}/edit" class="btn btn-primary">Edit</a>

<form action="/posts/{{post.id}}/delete" method="POST">
  <button class="btn btn-danger">Delete</a>
</form>

<!-- this is the view post page for {{post.id}} -->

{% endblock %}